POSTGRES_USER=creatorchain
POSTGRES_PASSWORD=creatorchain
POSTGRES_DB=creatorchain
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

INITIA_RPC_URL=http://initia-node:26657
INITIA_CHAIN_ID=creatorchain-1
INITIA_CLI_COMMAND=
INITIA_TX_SEARCH_QUERY=

JWT_SECRET=dev-secret

OAUTH_GOOGLE_CLIENT_ID=dev-google-client-id
OAUTH_GOOGLE_CLIENT_SECRET=dev-google-client-secret
OAUTH_TWITTER_CLIENT_ID=dev-twitter-client-id
OAUTH_TWITTER_CLIENT_SECRET=dev-twitter-client-secret
OAUTH_TWITTER_SCOPE=tweet.read users.read offline.access
OAUTH_REDIRECT_BASE=http://localhost:8001

NEXT_PUBLIC_PRIVY_APP_ID=your-privy-app-id
NEXT_PUBLIC_INITIA_CHAIN_ID=creatorchain-1

NEXT_PUBLIC_API_BASE=http://localhost:8000
NEXT_PUBLIC_ANALYTICS_BASE=http://localhost:8004
